<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
            <h1 class="center" style="color:black">지우<a href="/user/login" style="color:black;">의</a> 일기장</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        
<table class="table table-hover">
    <thead>
        <th>DATE</th>
        <th>TITLE</th>
        <th style="text-align:center">MANDOO</th>
        <th style="text-align:center">COMMENT</th>
        <th></th>
    </thead>
    <tbody>
        <% @memo.each do |t| %>
            <% session["#{t.id}"] = false %>
            <tr>
            <td style="width:10%;vertical-align:middle;"><%= t.created_at.strftime("%Y/%m/%d") %></td>
            <td style="width:60%;vertical-align:middle;"><%= t.title %></td>
            <td style="width:10%;vertical-align:middle;text-align:center"><img src="<%= asset_path "like.png"%>" style="width:30%;margin-bottom:5px"></img> <%=t.loves%>개</td>
            <td style="width:10%;vertical-align:middle;text-align:center"><%=t.memo_comments.size%>개</td>
            <td style="width:10%;vertical-align:middle;text-align:center"><a href="/home/read/<%= t.id%>"><button class="btn btn-danger">GO</button></a></td>
            </tr>
        <% end %>
    </tbody>
</table>

    </div>
</div>

<div style="text-align:center;">
<a href="/home/find"><button class="btn btn-info">검색을해볼까?</button></a>
</div>

<% if session[:admin] %>
<div class="container">
    <div class="row" style="text-align:center;margin-top:5px;">
        <a href="/home/new"><button class="btn btn-warning" style="width:100%;">지우 글쓴다!</button></a>
    </div>
    <div class="row" style="text-align:center;margin-top:5px;">
        <a href="/user/logout"><button class="btn btn-danger" style="width:100%">지우 나간다!</button></a>
    </div>
</div>
<% end %>
