<div class="container">
<h1>She said</h1>

<div>
    <h4>TITLE</h4>
</div>
<div>
    <h5><%= @memo.title %></h5>
</div>
<div>
    <h4>MEMO</h4>
</div>
<div>
    <p><%= @memo.content %></p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <table width="100%">
                <thead text-align="center">
                    <th style="text-align:center;">작성날짜</th>
                    <th style="text-align:center;">수정날짜</th>
                </thead>
                <tbody align="center" valign="center">
                    <tr>
                        <td align="center"><%=@memo.created_at.strftime("%Y.%m.%d")%></td>
                        <td align="center"><%=@memo.updated_at.strftime("%Y.%m.%d")%></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class="table">
                <thead>
                    <th style="width:20%">지우의 누구?</th>
                    <th style="width:60%">소감이나 할말!</th>
                    <th style="width:15%">댓글 남긴 날짜!</th>
                    <th style="width:5%;"></th>
                </thead>
                <tbody>
                    <% @memo_comments.each do |c| %>
                    <tr>
                        <td><%=c.writer%></td>
                        <td><%=c.content%></td>
                        <td><%=c.created_at.strftime("%Y.%m.%d")%></td>
                        <td>
                            <a href="/comment_delete/<%= c.id%>">
                            <button class="btn btn-xs btn-danger opacity" style="opacity:50%">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                            </a>
                        </td>
                    </tr>
                    <%end%>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="container">
    <form action="/comment/<%= @memo.id %>" method="POST">
   
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <label class="comments" for="writer">누구!?</label>
            <input class="form-control comments" type="text" name="comment_writer">
        </div>
        <div class="col-md-5">
            <label class="comments" for="content">내용!?</label>
            <input class="form-control comments"type="text" name="comment_content">
        </div>
        <div class="col-md-1">
            <label class="comments" for="password">암호!?</label>
            <input class="form-control comments" type="password" name="comment_password">
        </div>
    </div>
    <div class="row"  style="margin-top:10px;">
        <div class="col-md-8 col-md-offset-2">
            <button class="btn btn-default btn-block" type="submit" style="margin-top:1px;">댓글을 달아보자!</button>
        </div>
    </div>
    
    </form>
</div>


<div class="container" style="margin-top:10px;">
    <div class="row center">
        <a href="/home/index"><button class="btn btn-info">목록</button></a>

<% if session[:admin] %>
        <a href="/edit?id=<%=@memo.id%>"><button class="btn btn-warning">수정</button></a>


        <a href="/delete?id=<%=@memo.id%>"><button class="btn btn-danger">삭제</button></a>
<% end %>
    </div>
</div>