<h1>일기를 보는 페이지</h1>

<div>
    <h4>TITLE</h4>
</div>
<div>
    <p><%= @memo.title %></p>
</div>
<div>
    <h4>content</h4>
</div>
<div>
    <%= @memo.content %>
</div>

<table>
    <thead>
        <th>작성날짜</th>
        <th>수정날짜</th>
    </thead>
    <tbody>
        <tr>
            <td><%=@memo.created_at%></td>
            <td><%=@memo.updated_at%></td>
        </tr>
    </tbody>
</table>

<a href="/home/index"><button>목록</button></a>


<a href="/edit?id=<%=@memo.id%>"><button>수정</button></a>


<a href="/delete?id=<%=@memo.id%>"><button>삭제</button></a>